# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
.env*
keys

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
*.log

/awscliv2.sig
/app/coder/dist/
/.zencoder/
/.idea/
/.claude/
/dist-ts/
/design/
/.run/
